@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color: #016BFD;
  --bg-color: #0077b6;
  --bg-dashboard-color: #24243E;
  --bg-dashboard: #E8EBF5;
  --text-color: #ffffff;
  --card-color: #ffffff;
  --bg-primary: #166286;
  --primary-light: #0a4936;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scoped public navbar styles only */
.public-navbar .ant-menu {
  background-color: transparent !important;
  color: white !important;
}
.public-navbar .ant-menu-item,
.public-navbar .ant-menu-submenu-title {
  color: white !important;
}
.public-navbar .ant-menu-horizontal {
  border-bottom: none !important;
  box-shadow: none !important;
  justify-content: center !important;
}

.no-border-menu .ant-menu { border-bottom: none; background: white; }
.no-border-menu .ant-menu-item { border-bottom: none !important; }

.primary-color { background: #164081; }
.primary-text-color { color: #164081; }

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: #f1f5f9; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #94a3b8; }